@import '../../variables.css';

.clientType {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 40px 0;
}

.clientType__person {
    padding: 2px;
}

.clientType__company {
    padding: 2px;
    color: var(--accent-color);
    border-bottom: 1px dashed var(--accent-color);
    cursor: pointer;
}

.clientType__company:hover {
    color: var(--txt-color);
    border-bottom: 1px dashed var(--txt-color);
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    width: 100%;
    padding: 22px 20px 10px 20px;
    border: 1px solid var(--inactive-color);
    border-radius: 4px;
    box-sizing: border-box;
}

.passwordBlock {
    margin: 40px 0;
}

.progress {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 8px 0 14px 0;
}

.progress__item {
    height: 4px;
    width: 30%;
    background-color: var(--inactive-color);
    border-radius: 4px;
}
.progress__item_1 {
    background-color: var(--progress-color-1);
}
.progress__item_2 {
    background-color: var(--progress-color-2);
}
.progress__item_3 {
    background-color: var(--progress-color-3);
}

.submitBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    margin-top: 30px;
    padding: 20px 30px;
    background-color: var(--accent-color);
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submitBtn_disabled {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    margin-top: 30px;
    padding: 20px 30px;
    background-color: var(--inactive-color);
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
}

.submitBtn:hover {
    background-color: var(--txt-color);
}

.submitBtn i {
    margin-left: 10px;
    font-size: 18px;
}
