:root {
    --accent-color: #1CC0AD;
    --second-color: #9CB2C5;
    --inactive-color: #EAEFF1;
    --error-color: #a94442;
    --txt-color: #232334;
    --progress-color-1: #EA507A;
    --progress-color-2: #FD7429;
    --progress-color-3: #43d64c;
}

